[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/root/onetwo/venv/bin/uwsgi -i /root/onetwo/.config/uwsgi/onetwo.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target